.transparent-button {
    background-color: transparent;
    border: none;
    outline: none; /* Supprime le contour du bouton lorsqu'il est en focus */
    cursor: pointer; /* Change le curseur pour indiquer que le bouton est cliquable */
}

.inline-elements {
    display: flex;
    flex-direction: row;
}

.form-inline-elements {
    display: inline-block;
    margin-right: 10px;
}

.actif {
    color: green;
}

@media (max-width: 30em) { 
    .inline-elements {
        display: flex;
        flex-direction:column;
    }
     }
