{% extends 'base.html' %}

{% block content %}

<h1>Calculs factures Périscolaire</h1>
<p>Semaines classiques : cantine tous les midi, sans periscolaire les matin/soir</p>
<p>Date du jour</p>
<input type="date"><a>{{today}}</a>

<form action="" method="POST">
    <label for="month">month :</label>
    <select name="month" id="month-select" id="month" required>
        <option value="0">--Mois*--</option>
        {%for mois in Mois%}
        <option value="{{ mois.name}}">{{ mois.name}}</option>
        {%endfor%}
      </select>
    <label for="year">year :</label>
    <input type="year" id="year" name="year" value="{{ today.year }}" size="4" maxlength="30" required><br>
    <button type="submit">Add a month</button>
    </form>


{% endblock %}