{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

<h1>Calculs factures Périscolaire</h1>
<br>

{%if school_months%}
<div id="home_month">
  <ol>
    {%for school_month in school_months%}
    <li style="list-style: none;">
      <div class="card" style="margin-bottom: 10px;">
        <h5 class="card-header" style="background-color: #BAE1FC;">
          <form method="post" action="{{ url_for('mois', item_id=school_month.month_id) }}">
            <input type="hidden" name="month_year" value="{{ school_month.year }}">
            <input type="hidden" name="month" value="{{ school_month.month }}">
            {%if school_month.activities_count > 0%}
            <input type="hidden" name="price_activities" value="{{ school_month.price_activities }}">
            {%else%}
            <input type="hidden" name="price_activities" value="0">
            {%endif%}
            <div class="inline-elements"><button type="submit" id="submitBtn"
                class="transparent-button">{{Mois(school_month.month).name}} {{
                school_month.year }}</button>
              <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
                  filename='images/loupe-24.png' )}} height="17" /></button>
            </div>

          </form>
        </h5>
        <div class="card-body">
          {%if school_month.activities_count > 0%}
          <p><a class="rounded"><img src={{ url_for('static', filename='images/euro-60.png' )}} height="30" /> {{
              school_month.price_activities }}€</a></p>
          {%endif%}
          <p><img src={{ url_for('static', filename='images/backpack-48.png' )}} height="30" /><a class="school_day">{{
              school_month.school_days }}</a><img src={{ url_for('static', filename='images/stretching-48.png' )}}
              height="30" />{{
            school_month.activities_count }}</p>
          {%if school_month.off_days > 0%}
          <p><img src={{ url_for('static', filename='images/face-with-thermometer-48.png' )}} height="30" />{{
            school_month.off_days}}
            {%endif%}
            {%if school_month.strike_days > 0%}
            <img src={{ url_for('static', filename='images/strike-40.png' )}} height="30" />{{
            school_month.strike_days}}
            {%endif%}
            {%if school_month.school_off_days > 0%}
            <img src={{ url_for('static', filename='images/canceled-48.png' )}} height="30" />{{
            school_month.school_off_days}}
            {%endif%}
          </p>
        </div>
      </div>
    </li>
    {%endfor%}
  </ol>
</div>
{%endif%}

<div class="card">
  <h5 class="card-header">Nouveau Mois</h5>
  <div class="card-body">
    <p>
    <form action="" method="POST" class="inline-elements">
      <label for="month-select">Mois :</label>
      <select name="month-select" id="month-select" id="month" required>
        {%for mois in Mois%}
        <option value="{{ mois.name }}" {% if today.mois==mois.name %}selected="selected" {% endif %}>{{ mois.name}}
        </option>
        {%endfor%}
      </select>
      <label for="year">Année :</label>
      <input type="number" id="year" name="year" value="{{ today.year }}" size="5" maxlength="30" required><br>
      {%if usual_activities_in_DB%}
      <label for="set_month_with_usual_activities" disabled>Activités habituelles :</label>
      <input type="checkbox" name="set_month_with_usual_activities" id="set_month_with_usual_activities" checked>
      {%else%}
      <label class="grey-text" for="set_month_with_usual_activities" disabled>Activités habituelles :</label>
      <input type="checkbox" name="set_month_with_usual_activities" id="set_month_with_usual_activities" disabled>
      {%endif%}

      <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
          filename='images/ajouter.png' )}} height="15" /></button>
    </form>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">

    {%if school_months%}
    <form method="post" action="{{ url_for('day_off_create') }}"> <!-- class="inline-elements" -->
      <label for="input_date">Date*:</label>
      <input type="date" name="input_date" id="input_date" class="inputs" value="{{ today.strftime(" %Y-%m-%d") }}"
        required size="10" maxlength="30">
      {% if message %}
      <a class="message">{{message_date}}</a>
      {% endif %}
      {%if childrenInDb%}
      <select name="activity_child">
        <option value="0">-- enfant*:tous --</option>
        {% for child in childrenInDb %}
        <option value="{{ child[0] }}">{{ child[1] }}</option>
        {% endfor %}
        {%else%}
        <select name="activity_child" disabled>
          <option value="0">-- enfant*:tous --</option>
          {% endif %}
        </select>
        <br>
        <p><a>Activité: </a>
          {%if activitiesInDb%}
          <select name="activity">
            <option value="0">-- activité* --</option>
            {%for activity in activitiesInDb%}
            <option value="{{ activity[0] }}">{{ activity[1] }}</option>
            {% endfor %}
          </select>
          <label for="activity_web_validation">validation Web :</label>
          <input type="checkbox" name="activity_web_validation" id="activity_web_validation">
          <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
              filename='images/ajouter.png' )}} height="15" /></button>
          {%else%}
          <select name="activity" disabled>
            <option value="0">-- activité* --</option>
          </select>
          {% endif %}

        </p>
        <a> OU Annulation JOUR : </a>
        <select name="month_canceled_type" required>
          <option value="0">-- choisir type*--</option>
          {% for type in month_canceled_type %}
          <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
        <label for="day_off_web_validation">suppression activité Web :</label>
        <input type="checkbox" name="day_off_web_validation" id="day_off_web_validation">
        <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
            filename='images/ajouter.png' )}} height="15" /></button>
        </p>

    </form>
    {% if message %}
    <a class="message">{{message}}</a>
    {% endif %}
    <br />
    {% if error %}
    <p class="errorAuth">{{error}}</p>
    {% endif %}
    {% endif %}

  </div>
</div>






<script>
  var input_date = document.getElementById("input_date");
  input_date.addEventListener("input", function () {
    console.log(input_date.value);
  });
</script>



{% endblock %}