{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

<h1> {{ Mois(mymonthActivities.month).name }} {{ mymonthActivities.year }}</h1>
<br>
<ul>
    {%for day, day_info in mymonthActivities.month_calendar.items()%}
        {%if day_info.type == 'school_day'%}
            <li class="school_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }}
                {%if day_info.activities%}
                <ul>
                    {%for activity in day_info.activities%}
                    <li class="simple-text">{{ activity.name }} - pour {{ activity.child }} - prix: {{ activity.price }} €</li>
                    {%endfor%}
                </ul>
                {%endif%}

            </li>
        {%elif day_info.type == 'public_holiday'%}
            <li class="off_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }} : J.férié</li>
        {%elif day_info.type == 'school_holiday'%}
            <li class="off_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }} : Vacs</li>
        {%else%}
            <li class="off_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }}</li>
        {%endif%}
    {%endfor%}
</ul>




{% endblock %}