{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

<h1> {{ Mois(mymonthActivities.month).name }} {{ mymonthActivities.year }}</h1>
<br>

<!-- CARD before DAYS -->
<div class="card" style="margin-bottom: 10px;">
    <div class="card-header d-flex align-items-start"><h5>Totaux</h5><a> : {{total_price_activities}}€</a></div>
    <div class="card-body">
        <ul>
            {%for child_activities_prices in month_prices_details%}
                {%if child_activities_prices.canceled_activities > 0 %}
                <li>{{child_activities_prices.child_name}} - {{child_activities_prices.activity_name}} - prix : <del class="canceled_day">{{child_activities_prices.total_price}}</del>{{child_activities_prices.real_total_price}}€ (<del class="canceled_day">{{child_activities_prices.total_activities}}</del>{{child_activities_prices.real_total_activities}}x{{child_activities_prices.activity_price}}€) : <span class="canceled_day">{{child_activities_prices.canceled_activities}} annulations</span></li>
                {%else%}
                <li>{{child_activities_prices.child_name}} - {{child_activities_prices.activity_name}} - prix : {{child_activities_prices.real_total_price}}€ ({{child_activities_prices.real_total_activities}}x{{child_activities_prices.activity_price}}€)</li>
                {%endif%}
            {%endfor%}
        </ul>
    </div>
  </div>

<!-- Month DAYS -->
<ul>
    {%for day, day_info in mymonthActivities.month_calendar.items()%}
        {%if day_info.type == 'school_day'%}
            <li class="school_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }}
                {%if day_info.activities%}
                <ul>
                    {%for activity in day_info.activities%}
                        {%if activity.strike_canceled == 1%}
                        <li class="canceled_day"><del>{{ activity.child }} - {{ activity.name }} - prix: {{ activity.price }}€</del> : Grève</li>
                        {%elif activity.family_canceled == 1%}
                        <li class="canceled_day"><del>{{ activity.child }} - {{ activity.name }} - prix: {{ activity.price }}€</del> : Absence {{ activity.child }}</li>
                        {%elif activity.school_canceled == 1%}
                        <li class="canceled_day"><del>{{ activity.child }} - {{ activity.name }} - prix: {{ activity.price }}€</del> : Annulation école </li>
                        {%else%}
                        <li class="simple-text">{{ activity.child }} - {{ activity.name }} - prix: {{ activity.price }} €</li>
                        {%endif%}
                    {%endfor%}
                </ul>
                {%endif%}

            </li>
        {%elif day_info.type == 'public_holiday'%}
            <li class="off_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }} : J.férié</li>
        {%elif day_info.type == 'school_holiday'%}
            <li class="off_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }} : Vacs</li>
        {%else%}
            <li class="off_day">{{ Jour(stringToNumber(day_info.week_day)).name }} {{ day.day }}</li>
        {%endif%}
    {%endfor%}
</ul>




{% endblock %}