{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

<h1>Paramètres</h1>
<form method="post" action="{{ url_for('mode_edition') }}">
  <button type="submit" class="transparent-button"><img src={{ url_for('static', filename='images/edition.png' )}}
      height="30" /></button>
</form>
{%if isInEditionMode%}
<div class="actif">Mode édition actif</div>
{%else%}
<p>Entrer les pararamètres pour les calculs</p>
{%endif%}

<h2>Enfants</h2>

{%if childrenInDb%}
<ul>
  {%for child in childrenInDb%}
  {%if not isInEditionMode%}
  <li>{{child[1]}}</li>
  {%else%}
  <li>
    <div class="inline-elements">
      <form method="post" action="{{ url_for('child_update', item_id=child[0]) }}">
        <input type="new_child_name" name="new_child_name" id="new_child_name" class="inputs" size="10" maxlength="30"
          value="{{child[1]}}">
        <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
            filename='images/verifier.png' )}} height="15" /></button>
      </form>
      <form method="post" action="{{ url_for('child_delete', item_id=child[0]) }}">
        <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
            filename='images/supprimer.png' )}} height="15" /></button>

      </form>
    </div>

  </li>
  {%endif%}
  {%endfor%}
</ul>
{%endif%}

{%if not isInEditionMode%}
<form method="post" action="{{ url_for('child_create') }}" class="inline-elements">
  <label for="child_name">Prénom*</label>
  <input type="child_name" name="child_name" id="child_name" class="inputs" required size="10" maxlength="30"><br>
  <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
      filename='images/ajouter.png' )}} height="15" /></button>
  <br />
</form>
{% if message %}
<a class="message">{{message}}</a>
{% endif %}
<br />
{% if error %}
<p class="errorAuth">{{error}}</p>
{% endif %}
<br />
{% endif %}
<br>

<h2>Activités</h2>
{%if activitiesInDb%}
<ul>
  {%for activity in activitiesInDb%}
  {%if not isInEditionMode%}
  <li><strong>{{activity[1]}}</strong> - {{activity[2]}}€/jour - {{activity[3]}}h/jour - <a>comment: {{ activity[4]
      }}</a></li>
  {%else%}
  <li>
    <div class="inline-elements">
      <form method="post" action="{{ url_for('activity_update', item_id=activity[0]) }}">
        <input type="new_activity_name" name="new_activity_name" id="new_activity_name" class="inputs" size="10"
          maxlength="30" value="{{activity[1]}}">
        <input type="new_activity_price" name="new_activity_price" id="new_activity_price" class="inputs" size="3"
          maxlength="30" value="{{activity[2]}}">
        <input type="new_activity_time" name="new_activity_time" id="new_activity_time" class="inputs" size="2"
          maxlength="30" value="{{activity[3]}}">
        <input type="new_activity_comment" name="new_activity_comment" id="new_activity_comment" class="inputs"
          size="15" maxlength="50" value="{{activity[4]}}">
        <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
            filename='images/verifier.png' )}} height="15" /></button>
      </form>
      <form method="post" action="{{ url_for('activity_delete', item_id=activity[0]) }}">
        <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
            filename='images/supprimer.png' )}} height="15" /></button>
      </form>
    </div>
  </li>
  {%endif%}
  {%endfor%}

</ul>
{%endif%}
{%if not isInEditionMode%}
<form method="post" action="{{ url_for('activity_create') }}">
  <div class="inline-elements"><label for="activity_name">Nom*: </label>
    <input type="text" name="activity_name" id="activity_name" class="inputs" size="10" maxlength="30" required><br>
    <label for="activity_price">Tarif/Jour*: </label>
    <input type="text" name="activity_price" id="activity_price" class="inputs" size="3" maxlength="30" required><br>
  </div>
  <div class="inline-elements"><label for="activity_time">Durée(h): </label>
    <input type="number" name="activity_time" id="activity_time" class="inputs" size="2" maxlength="30"><br>
    <label for="activity_comment">Commentaire: </label>
    <input type="text" name="activity_comment" id="activity_comment" class="inputs" size="15" maxlength="50"><br>
    <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
        filename='images/ajouter.png' )}} height="15" /></button>
  </div>

  <br />
</form>
{% if message %}
<a class="message">{{message}}</a>
{% endif %}
<br />
{% if error %}
<p class="errorAuth">{{error}}</p>
{% endif %}
<br />
{% endif %}
<br>

<h2>Activités habituelles</h2>
{%if usual_activities_in_DB%}
<ul>
  {%for id, day, usual_activity_per_day, child_id in usual_activities_in_DB%}
  <li>
    <strong>{{ Jour(stringToNumber(day)).name }} : </strong></a>
    {% set activities_list = usual_activity_per_day.split(',') %}
    {%for usual_activity in activities_list%}
    <a>{{usual_activity}}
      {%if isInEditionMode%}
      <form class="form-inline-elements" method="post" action="{{ url_for('usual_activity_delete', item_id=id) }}">
        <input type="hidden" name="usual_activity_name" value="{{ usual_activity }}">
        <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
            filename='images/supprimer.png' )}} height="15" /></button>
      </form>
      {%endif%}
      {% if not loop.last %},{% endif %}
    </a>
    {%endfor%}
  </li>
  {%endfor%}
</ul>
{%endif%}

{%if not isInEditionMode%}
{%if activitiesInDb%}
<form method="POST" action="{{ url_for('usual_activity_create') }}">
  <select name="activity_day">
    <option value="0">-- jour* --</option>
    {% for jour in Jour %}
    <option value="{{ jour.value }}">{{ jour.name }}</option>
    {% endfor %}
  </select>
  <select name="usual_activity">
    <option value="0">-- activité* --</option>
    {%for usual_activity in activitiesInDb%}
    <option value="{{ usual_activity[0] }}">{{ usual_activity[1] }}</option>
    {% endfor %}
  </select>
  <select name="usual_activity_child">
    <option value="0">-- tous --</option>
    {% for child in childrenInDb %}
    <option value="{{ child[0] }}">{{ child[1] }}</option>
    {% endfor %}
  </select>
  <button type="submit" id="submitBtn" class="transparent-button"><img src={{ url_for('static',
    filename='images/ajouter.png' )}} height="15" /></button>
</form>
{%else%}
<a>Ajouter une activité</a>
{%endif%}
{%endif%}
<br>

<h2>Jours sans école</h2>
<h1>Jours fériés</h1>
<!-- {%if activitiesInDb%} -->
<ul>
  {%for key, value in JoursFeriesAnneeEnCours.items()%}
  <li><strong>{{key}}</strong> - {{value}}</a></li>
  {%endfor%}
</ul>
<!-- {%endif%} -->
<form method="post">
  <!-- <label for="activity_name">Nom*: </label>
  <input type="text" name="activity_name" id="activity_name" class="inputs" required><br>
  <label for="activity_price">Tarif/Jour*: </label>
  <input type="text" name="activity_price" id="activity_price" class="inputs" required><br>
  <label for="activity_time">Durée(h): </label>
  <input type="number" name="activity_time" id="activity_time" class="inputs"><br>
  <label for="activity_comment">Commentaire: </label>
  <input type="text" name="activity_comment" id="activity_comment" class="inputs"><br>
  <input type="submit" id="submitBtn" value="valider">
  <br />
  {% if message %}
  <a class="message">{{message}}</a>
  {% endif %}
  <br />
  {% if error %}
  <p class="errorAuth">{{error}}</p>
  {% endif %}
  <br /> -->
</form>



{% endblock %}